<!--
============================================
; Title: EMS
; Author: Troy Martin
; Date: 05/18/2019
; Modified By: Troy Martin
; Description: List page for EMS application
;===========================================
-->
<!DOCTYPE html>
<html lang="en">
  <% include header %>
  <body class="body--padded">
    <% include navbar %>
    <main role="main">
      <div class="container">
        <h2><%= title %></h2>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Title</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="/view/1">1</a></td>
                <td>Mark</td>
                <td>Hartman</td>
                <td>Lead Quality Assurance</td>
              </tr>
              <tr>
                <td><a href="/view/2">2</a></td>
                <td>Mike</td>
                <td>Barton</td>
                <td>Network Administrator</td>
              </tr>
              <tr>
                <td><a href="/view/3">3</a></td>
                <td>Joe</td>
                <td>Gaston</td>
                <td>Software Engineer</td>
              </tr>
              <tr>
                <td><a href="/view/4">4</a></td>
                <td>Jared</td>
                <td>Vogeltanz</td>
                <td>Software Architect</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <% include footer %>
    </main>
    <% include scripts %>
  </body>
</html>

