<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Employee management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <% if(page === "home"){%>
          <li class="nav-item active">
        <%} else{ %>
          <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/">Home</a>
        </li>
        <% if(page === "list"){%>
          <li class="nav-item active">
        <%} else{ %>
          <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/list">List</a>
        </li>
        <% if(page === "new"){%>
          <li class="nav-item active">
        <%} else{ %>
          <li class="nav-item">
        <% } %>
          <a class="nav-link" href="new">New</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
