<!--
============================================
; Title: EMS
; Author: Troy Martin
; Date: 05/18/2019
; Modified By: Troy Martin
; Description: New employee page for EMS application
;===========================================
-->
<!DOCTYPE html>
<html lang="en">
  <% include header %>
  <body>
    <% include navbar %>
    <main rol="main">
      <% include footer %>

    </main>
    <% include scripts %>
  </body>
</html>
