<!--
============================================
; Title: EMS
; Author: Troy Martin
; Date: 05/18/2019
; Modified By: Troy Martin
; Description: New employee page for EMS application
;===========================================
-->
<!DOCTYPE html>
<html lang="en">
  <% include header %>
  <body class="body--padded">
    <% include navbar %>
    <div role="main" class="container">
      <br/><br/>
      <h2><%= title %></h2>
      <form method="post" action="/process">
        <!-- include the CSRF token in the post -->
        <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>">
        <div class="form-group">
          <label for="txtName">Name</label>
          <input type="text" id="txtName" name="txtName" class="form-control">
        </div>
        <div class="form-group">
          <button id="btnSubmit" type="submit" class="btn btn-primary float-right">Submit</button>
        </div>
      </form>

      <% include footer %>

    </div>
    <% include scripts %>
  </body>
</html>
